html {
  text-align: center;
  font-family: sans-serif;
}
li{
  list-style: none;
}
.nav-ul{
  display: flex;
  justify-content: space-around;
  background-color: rgb(44, 38, 35);
  color: rgb(250, 250, 250);
  padding: 15px;
  margin: 0px;
}
.header-content {
  padding-top: 10%;
  padding-bottom: 20%;
  background-image: url("iphone-background.jpg");
  background-size: cover;
  text-decoration: none;
}
